.grid-container {
  display: grid;
  /*
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: repeat(4, 100%);
  */
  justify-content: space-evenly;
  grid-gap: 10px;
  padding: 10px;
}

.overlay3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left:0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity:0;
    transition: opacity 1s;
}

body {
    transition: background-color .5s;
	background-color: #00000);
	background-image: url("c.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	opacity: 0.8;
}

.offcanvas2 {
    display: none;
    height: 100%;
    width: 250px;
    background-color: #111;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}
.offcanvas {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #111;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

.offcanvas a,.offcanvas2 a {
    padding: 15px 8px 8px 64px;
    text-decoration: none !important;
    font-size: 2em;
	font-family: Indie Flower;
    color: orange;
    display: block;
    transition: .3s
}
.offcanvas a:hover, .offcanvas a:focus,.offcanvas2 a:hover{
    color: #f1f1f1;
}
.closeOffcanvas {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
#mainContent {
    transition: margin-left .5s;
}
@media screen and (max-height: 500px) {
  .offcanvas {padding-top:15px;}
  .offcanvas a {font-size: 18px;}
}

.sidenav5 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav5 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.sidenav5 a:hover{
    color: #f1f1f1;
}

.sidenav5 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}


h1 {	
    background-color: #8c7523;
	border-style: ridge;
	border-radius: 10px;
    color: #ffffff;
    padding: 15px;
	letter-spacing: 5px;
}

.txt {
	grid-column: 1 / 5 / 1 / 5;
	background-color: #8c7523;
	border-style: ridge;
	border-radius: 10px;
    color: #ffffff;
    padding: 15px;
	}

@media screen and (max-height: 450px) {
  .sidenav5 {padding-top: 15px;}
  .sidenav5 a {font-size: 18px;}
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
	float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}