header {
	background-color: #00000);
	background-image: url("f.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	padding: 16vw 2em;
	text-align: center;
}

header h1 {
  font-family: Mina;
  color: Azure ;
  top: 10%;
  font-size: 4em;
  font-weight: 400;
}

#web{
	 color:NavajoWhite ;
	 margin: 0;
}

#navbar{
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Navbar links */

ul {
  list-style-type: inline;
  margin: 0;
  text-align: center;
  margin-top: 0;
}

ul li {
  display: inline-block;
  margin: 0 20px;
}

a {
  font-size: 20px;
  color: #584e4a;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}
a:before, a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f37272;
  color: white;
}
a:before {
  opacity: 0;
  transform: translateY(- 8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

a:hover:before, a:focus:before, a:hover:after, a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
a:hover:before, a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
a:hover:after, a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}


html {
	font-family: "Times New Roman", Times, serif;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
	float: left;
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    .h1 {
		font-size: 2.5em;
}
*/


@media only screen and (min-width: 768px) {
    /* For desktop: 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
*/